.tooltip_custom_adult {
	position: relative;
	margin-left: 100px;
	color: #787878;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	z-index: 100;
}
.tooltip_custom_adult img {
	display: inline-block;
	margin-bottom: 3px;
	margin-right: 4px;
	cursor: pointer;
}
.tooltip_custom_adult p {
	display: inline-block;
	cursor: pointer;
	color: #f4f586;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-decoration: underline;
}
.tooltip_custom {
	position: absolute;
	width: 140px;
	height: 85px;
	top: 27px;
	left: -33px;
	padding-top: 15px;
	background-color: #fff;
	border-radius: 15px;
	align-items: center;
	box-shadow: 0 10px 13px rgba(255, 126, 0, 0.35);
}
.tooltop_cst_bottom {
	text-align: center;
}
.tooltip_custom button {
	width: 50px;
	height: 27px;
	margin-top: 10px;
	margin-right: 3px;
	padding: 0;
	border-radius: 15px;
	border: 2px solid #f4f586;
	background-color: #fff;
	color: #02cad9;
	font-family: "Myriad Pro";
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.tooltip_custom button:hover {
	background-color: #f4f586;
}

.tooltip_custom::after {
	content: '';
	top: -20px;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

@media (max-width: 577px) {
	.tooltip_custom_adult {
		/*margin-left: -70px;*/
		margin-left: 0px;
		margin-top: 20px;
	}	
}
@media (max-width: 320px) {
	.tooltip_custom_adult {
		width: 135px;
	}
}